-@charset "UTF-8";

.main-wrapper
{
width: 100%;
max-width: 1920px;
height:100%;
background-color: #CCCCCC;
}

.indicator-wrapper_symptoms, .indicator-wrapper_testscare, .indicator-wrapper_vitals,.indicator-wrapper_medications,.indicator-wrapper_activity,.indicator-wrapper_nutrition,.indicator-wrapper_psychosocial,.indicator-wrapper_wrapup
{
width: 100%;
max-width: 1920px;
min-width: 450px;
height:30px;
text-align:left;
}



.indicator-box-big_symptoms_all, .indicator-box-big_testcare_all, .indicator-box-big_vitals_all,.indicator-box-big_medications_all,.indicator-box-big_activity_all,.indicator-box-big_nutrition_all,.indicator-box-big_psychosocial_all,.indicator-box-big_wrapup_all
{
width: 50px;
height:30px;
line-height: 34px;
text-align:center;
color: #ffffff;
font-size:24px;
font-family: Segoe UI, Helvetica, Arial;
font-weight: bolder;
float:left;
margin-right: 3px;
cursor: pointer;
margin-top: 0px;
}

.sectiontitle_monitor
{
min-width: 200px;
height:30px;
line-height: 32px;
text-align:left;
font-size:20px;
font-family: Segoe UI, Helvetica, Arial;
font-weight: 100;
float: left;
margin-left: 10px;
margin-top: 0px;
}


.indicator-box-big:hover {
  cursor: pointer;
}

.indicator-box-small,.indicator-box-small_symptoms_red,.indicator-box-small_symptoms_orange,.indicator-box-small_symptoms_green,
.indicator-box-small_testcare_red,.indicator-box-small_testcare_orange,.indicator-box-small_testcare_green,
.indicator-box-small_vitals_red,.indicator-box-small_vitals_orange,.indicator-box-small_vitals_green,
.indicator-box-small_medications_red,.indicator-box-small_medications_orange,.indicator-box-small_medications_green,
.indicator-box-small_activity_red,.indicator-box-small_activity_orange,.indicator-box-small_activity_green,
.indicator-box-small_nutrition_red,.indicator-box-small_nutrition_orange,.indicator-box-small_nutrition_green,
.indicator-box-small_psychosocial_red,.indicator-box-small_psychosocial_orange,.indicator-box-small_psychosocial_green,
.indicator-box-small_wrapup_red,.indicator-box-small_wrapup_orange,.indicator-box-small_wrapup_green
{
width: 40px;
height: 25px;
line-height: 28px;
text-align:center;
color: #ffffff;
font-size:14px;
font-family: Segoe UI, Helvetica, Arial;
font-weight: bold;
float:left;
margin-right: 2px;
margin-top: 5px;
}

.indicator-box-small-grey,.indicator-box-small_symptoms_grey,.indicator-box-small_testcare_grey,.indicator-box-small_vitals_grey,.indicator-box-small_psychosocial_grey,.indicator-box-small_wrapup_grey,
.indicator-box-small_medications_grey,
.indicator-box-small_activity_grey,
.indicator-box-small_nutrition_grey
{
width: 40px;
height: 25px;
line-height: 28px;
text-align:center;
color: #ffffff;
font-size:14px;
font-family: Segoe UI, Helvetica, Arial;
font-weight: bold;
float:left;
margin-right: 2px;
margin-top: 5px;
}

.indicator-box-small:hover {
width: 50px;
height:30px;
line-height: 34px;
text-align:center;
color: #ffffff;
font-size:24px;
font-family: Segoe UI, Helvetica, Arial;
font-weight: bolder;
float:left;
margin-right: 3px;
cursor: pointer;
margin-top: 0px;
}

.indicator-box-small:hover {
width: 50px;
height:30px;
line-height: 34px;
text-align:center;
color: #ffffff;
font-size:24px;
font-family: Segoe UI, Helvetica, Arial;
font-weight: bolder;
float:left;
margin-right: 3px;
cursor: pointer;
margin-top: 0px;
}



.indicator-box-small-grey:hover {
width: 50px;
height:30px;
line-height: 1-px;
text-align:center;
color: #ffffff;
font-size:24px;
font-family: Segoe UI, Helvetica, Arial;
font-weight: bolder;
float:left;
margin-right: 3px;
cursor: pointer;
margin-top: 0px;
}

.indicator-box-big-grey {
width: 50px;
height:30px;
line-height: 1-px;
text-align:center;
color: #ffffff;
font-size:24px;
font-family: Segoe UI, Helvetica, Arial;
font-weight: bolder;
float:left;
margin-right: 3px;
cursor: pointer;
margin-top: 0px;
background-color: #666666;
}


.indicator-line,.indicator-line_symptoms,.indicator-line_testcare,.indicator-line_vitals,.indicator-line_medications,.indicator-line_activity,.indicator-line_nutrition,.indicator-line_psychosocial,.indicator-line_wrapup
{
width: 100%;
height:5px;
float:left;
padding-right: 0px;
}

.blue-wrapped
{
	font-size:24px;
	font-weight:bold;
}



.morewrapper
{
width: 230px;
height:20px;
padding: 10px;
background-color:#fafafa;
float:left;
font-family: Segoe UI, Helvetica, Arial;
font-size: 12px;
float:left;
text-align: center;
}


.red
{
background-color: #dd3b31;
}

.orange
{
background-color: #ff7d09;
}

.green
{
background-color: #99cc00;
}

.grey
{
background-color: #666666;
}

.blue
{
background-color: #0072c6;
}

.redtxt
{
color: #dd3b31;
}

.orangetxt
{
color: #ff7d09;
}

.greentxt
{
color: #99cc00;
}

.bluetxt
{
color: #0072c6;
}

.greytxt
{
color: #666666;
}


.overduetxt
{
color: #a5a5a5;
font-weight: bold;
}

.tile
{
   float: left;
   width: 250px;
   height: 250px;
   margin: 5px;
   padding: 0px;
   background-color: white;
   border: solid;
   border-width: 0px;
   border-color: #beb7bb
}

.maintable, .maintable_symptoms_all,.maintable_symptoms_red,.maintable_symptoms_orange,.maintable_symptoms_green,.maintable_symptoms_grey,
.maintable_testcare_all,.maintable_testcare_red,.maintable_testcare_orange,.maintable_testcare_green,.maintable_testcare_grey,
.maintable_vitals_all,.maintable_vitals_red,.maintable_vitals_orange,.maintable_vitals_green,.maintable_vitals_grey,
.maintable_medications_all,.maintable_medications_red,.maintable_medications_orange,.maintable_medications_green,.maintable_medications_grey,
.maintable_activity_all,.maintable_activity_red,.maintable_activity_orange,.maintable_activity_green,.maintable_activity_grey,
.maintable_nutrition_all,.maintable_nutrition_red,.maintable_nutrition_orange,.maintable_nutrition_green,.maintable_nutrition_grey,
.maintable_psychosocial_all,.maintable_psychosocial_red,.maintable_psychosocial_orange,.maintable_psychosocial_green,.maintable_psychosocial_grey,
.maintable_wrapup_all,.maintable_wrapup_red,.maintable_wrapup_orange,.maintable_wrapup_green,.maintable_wrapup_grey
 {
   width: 100%;
   border: none;
   font-family: "Segoe UI", "Trebuchet MS", Verdana, sans-serif;
   font-size:12px;
   color: #333333;
   background-color: #FAFAFA;
   line-height: 14px;
  
}
.tablecontent_symptoms_all,.tablecontent_symptoms_red,.tablecontent_symptoms_orange,.tablecontent_symptoms_green,.tablecontent_symptoms_grey,
.tablecontent_testcare_all,.tablecontent_testcare_red,.tablecontent_testcare_orange,.tablecontent_testcare_green,.tablecontent_testcare_grey,
.tablecontent_vitals_all,.tablecontent_vitals_red,.tablecontent_vitals_orange,.tablecontent_vitals_green,.tablecontent_vitals_grey,
.tablecontent_medications_all,.tablecontent_medications_red,.tablecontent_medications_orange,.tablecontent_medications_green,.tablecontent_medications_grey,
.tablecontent_activity_all,.tablecontent_activity_red,.tablecontent_activity_orange,.tablecontent_activity_green,.tablecontent_activity_grey,
.tablecontent_nutrition_all,.tablecontent_nutrition_red,.tablecontent_nutrition_orange,.tablecontent_nutrition_green,.tablecontent_nutrition_grey,
.tablecontent_psychosocial_all,.tablecontent_psychosocial_red,.tablecontent_psychosocial_orange,.tablecontent_psychosocial_green,.tablecontent_psychosocial_grey,
.tablecontent_wrapup_all,.tablecontent_wrapup_red,.tablecontent_wrapup_orange,.tablecontent_wrapup_green,.tablecontent_wrapup_grey
/*.tablecontent_vitals,.tablecontent_medications,.tablecontent_activity,.tablecontent_nutrition,.tablecontent_psychosocial,.tablecontent_wrapup*/ 
{
    display:none;
  /*// visibility: hidden;*/ 
   /*height: 0px;*/
  
}

.typedetails {
   width: 30%;
   min-width: 160px;
   font-weight: bold;
   padding: 10px 3px 10px 10px;
}

.target {
   width: 22%;
   min-width: 110px;
   text-align:center;
   padding: 3px;
   font-size: 11px;
   
} 
.lastresult {
   width: 22%;
   min-width: 110px;
   text-align:center;
   padding: 3px;
   font-size: 11px;
   font-weight: bold;
} 
.lastresultdate {
   width: 10%;
   min-width: 40px;
   text-align:center;
   padding: 3px;
   font-size: 11px;
} 

.duedate {
   width: 10%;
   min-width: 40px;
   padding: 3px;
   text-align:center;
   font-weight: bold;
} 

.more {
   width: 4%;
   min-width: 20px;
   text-align:center;
   padding: 3px 8px 3px 8px;
   font-size: 20px;
   font-weight: bold;
   text-align:center;
   color: #0072c6;

} 

.more:hover {
   background-color: #CCCCCC;
   color: #FFF;

} 

.allactive {
   font-size: 12px;
   font-weight: bold;

} 

.allnotactive {
   font-size: 9px;
   font-weight: bold;
   line-height: 28px;

} 

hr.grey { border: 0; height: 1px; background: #CCC;}

.window-wrapper {
    display:none;
}