body {
    font-family: 'Helvetica', 'Arial';
}

.dropbtn {
    border: 1px solid #999999;
    background-color: #F7F7F7;
    cursor: pointer;
    padding: 6px;
    cursor: pointer;
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    color: #333333;
    line-height: normal;
    min-width: 20em;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
}

    .dropdown-content a {
        border: 1px solid #999999;
        background-color: #F7F7F7;
        cursor: pointer;
        padding: 6px;
        cursor: pointer;
        font-family: 'Arial Regular', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 11px;
        color: #333333;
        line-height: normal;
        text-decoration: none;
        display: block;
        border-top: none;
    }

        .dropdown-content a:hover {
            background-color: #c9c9c9;
            color: #fff;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/

.clear {
    clear: both;
}

#top {
    margin-left: 15px;
    width: 50%;
    font-size: 12px;
}

#addNewCarePlan {
    color: #0072C6;
    padding-left: 20px;
    text-decoration: none;
}

    #addNewCarePlan span {
    }

#search {
    text-align: right;
    padding-right: 20px;
}

#top input[type="text"] {
    vertical-align: bottom;
    font-style: italic;
    width: 200px;
    border: 1px solid #999999;
    float: right;
}

#typeDetails {
    margin-top: 20px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    max-height: 60px;
    /*text-align: center;*/
}

    #typeDetails span {
        padding: 8px 14px;
        display: inline-block;
        vertical-align: central;
        cursor: pointer;
    }

        #typeDetails span:first-child {
            padding: 8px 35px;
            display: inline-block;
        }

        #typeDetails span:nth-last-child(2), #typeDetails span:nth-last-child(3) {
            display: inline-block;
            padding: 0px;
        }

    #typeDetails div span a {
        text-decoration: none !important;
        cursor: pointer !important;
        color: #666666 !important;
    }

    #typeDetails span img {
        margin-bottom: -5px;
        margin-left: 8px;
    }


.details {
    margin-top: 20px;
}

.w3-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
z-index:0;
}

.w3-black, .w3-hover-black:hover {
    /*color: #000 !important;*/
}

.w3-navbar li {
    /*float: left;
    margin-left: 2px;
    bottom: 0;
    width: 37px;
    height: 24px;*/
    width: 37px;
    height: 24px;       
    line-height: 10px;
    text-align: center;
    color: #ffffff;
    /*font-family: Segoe UI, Helvetica, Arial;*/
    font-weight: bold;
    float: left;
    margin-right: 3px;
    cursor: pointer;
    font-size:9px;
}

.w3-navbar span {
    display: block;
    margin-top: 10px;
    margin-left: 15px;
}

.lifirstchild {
    width: 54px !important;
    height: 35px !important;
    margin-bottom: -12px !important;
}

.lifirstchild a{
    font-size:10px;
    padding:5px;
}

.w3-navbar li:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
    font-size:7px;
}

.w3-navbar li:last-child {
    width:auto;
}

.w3-navbar li:last-child:hover {
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.w3-navbar li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    word-wrap: break-word;
}

.w3-navbar li span {
    text-decoration: none;
    color: #999999 !important;
    word-wrap: break-word;
    font-size:15px;
}

.w3-navbar li img{
    height:20px;
    width:20px;
    margin-top:10px;
    margin-left: -70px;
    z-index:9999;
}

#detailsBlock {
}

.btnClose {
    text-decoration: none;
    width: 35px;
    height: 25px;
    text-align: center;
    float: right;
    border: 1px solid #1160B7;
    padding-top: 10px;
    color: #1160B7;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
}

    .btnClose:hover {
        border: 1px solid transparent;
        color: #999999;
        background-color: #f2f2f2;
    }

/* Care Plans*/
.careaPlans div {
    display:table;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    background-color: #f2f2f2;
    width: 100%;
    height: auto;
    text-align: center;
        position: relative;

}

    .careaPlans div span {
        float: left;
        margin: 10px 8px;
        font-style: normal;
        font-size: 11px;
        word-wrap: break-word;
        display: inline;
        width: 11em;
        display: table-cell;
        vertical-align: middle;
        height: inherit;
    }

    .careaPlans div span p {
        margin:-0px;
        }

        .careaPlans div span:first-child {
            font-weight: 700;
            width: 15em;
            text-align: left !important;
        }

        .careaPlans div span:last-child {
            font-weight: 700;
            width: 3em;
            height: inherit;
            display: inline-block;
        }

    .careaPlans div a {
        cursor: pointer;
        float: right;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        color: #0072C6;
        text-decoration: none;
        /*margin-top: -5px;
        margin-right: -5px;
        vertical-align: text-bottom;*/
        position: absolute;
        right: 0;
        top: 0;
        height:100%;
        padding: 0px 15px;
    }

        .careaPlans div a:hover {
            background-color: #e4e4e4;
            color: #fff;
        }
